.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #333;
    text-align: center;
    position: relative;
}

.title {

    /* Image Titles */
    margin-right: 10px;
    text-align: center;
    left: 5px;
    bottom: 20%;
    background-color: #17A2B8;
    color: white;
    font-weight: bold;
    position: relative;
}

.img-thumbnail {

    width: 510px;
    height: 250px;
    position: relative;
}

a {
    color: white;
}


p {
    color: white;
    font-size: 15px;
}

body {
    background-image: url('assets/blue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

li {
    float: left;
}
  
a {
display: block;
padding: 8px;
/* background-color: #dddddd; */
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #343A40;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #111;
}

.main-name {
    color: white;
}

/* .logo {
width: 75px;
height: 75px;
position: relative;
top: 70px;
left: 1050px

} */